<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.gacl.mapping.userMapper">
    
    <select id="DistServIP" resultType="me.gacl.domain.sever">
        select serverIP from serverINFO 
    </select>
              
    <select id="profComparisonName" parameterType="String" resultType="me.gacl.domain.profComparison">
        select profID from profComparison where profName=#{profName}
    </select>  
    
    <select id="getLoRaAddress" resultType="me.gacl.domain.LoRaAddress">
        select * from LoRaAddress
    </select>  
    
    <insert id="add_instruction" parameterType="me.gacl.domain.instruction">
        insert into instruction(insID,userID,operationToken,createTime,isFin,hwOpt,req,devEui,t,st,et) values(#{insID},#{userID},#{operationToken},#{createTime},#{isFin},#{hwOpt},#{req},#{devEui},#{t},#{st},#{et})
    </insert>  
          
     <select id="select_insID_and_operationToken" resultType="me.gacl.domain.instruction">
        select hwOpt from instruction where insID=#{insID}and operationToken=#{operationToken}
    </select>
    
     <select id="select_devEui_and_t" resultType="me.gacl.domain.instruction">
        select devEui,t from instruction where insID=#{insID}and operationToken=#{operationToken}
    </select>
    
    <update id="up_isFin_and_req" parameterType="me.gacl.domain.instruction">
        update instruction set isFin=#{isFin},req=#{req} where insID=#{insID} and operationToken=#{operationToken}
    </update>
     
</mapper>